.navbar-bg-morado{

    background-color: #CE3535;

}
.imgresponsive1{

    max-width: 900px;
    max-height: 500px;

}

body{

    background-color: antiquewhite;
}

div.row{

    margin-right: 0;
    margin-left: 0;

}

.iconos{

    max-width: 60px;
    max-height: 60px;
    /*padding-left: 30px; */

}
footer{
    
    padding-top:150px;
    max-width: 100%;


}