.iconos{

    max-width: 60px;
    max-height: 60px;

}
body{
    background-color: antiquewhite;
    max-width: 100%;
}
.navbar-bg-morado{

    background-color: #CE3535;

}

footer{
    
    position:absolute;
    width: auto;
    bottom: 0;

}

div.row{

    margin-right: 0;
    margin-left: 0;

}
