.iconos{

    max-width: 60px;
    max-height: 60px;

}

body{
    background-color: antiquewhite;
    max-width: 100%;
}
.navbar-bg-morado{

    background-color: #CE3535;
    border: 0;
}

footer{
    
    padding-top:150px;
    max-width: 100%;


}

div.row{

    margin-right: 0;
    margin-left: 0;

}

.clearfloatxd{
    clear:both;
}


