.navbar-bg-morado{

    background-color: #CE3535;

}

.iconos{

    max-width: 60px;
    max-height: 60px;

}


body{

    background-color: antiquewhite;
}



footer{
    
    padding-top:150px;
    max-width: 100%;


}
